<p>Below find a selection of tooltips, at different positions. Hover over each
to see the effect</p>

<div style="float: left">
    {{tool-tip text="I'm top left" position="top left" tagName="h2"
              heading="Please note:" tip="I appear on the top left."}}
</div>
<div style="float: right">
    {{tool-tip text="I'm top right" position="top right" tagName="h2"
              heading="Please note:" tip="I appear on the top right."}}
</div>

<div style="clear: both"></div>

<div style="float: left">
    {{tool-tip text="I'm bottom left" position="bottom left" tagName="h3"
              heading="Please note:" tip="I appear on the botton left."}}
</div>

<div style="float: right">
    {{tool-tip text="I'm bottom right" position="bottom right" tagName="div"
              heading="Please note:" tip="I appear on the botton right."}}
</div>
